name: CI/CD Pipeline

on:
  push:
    branches:
      - master

env:
  VITE_API_URL: ${{ secrets.API_URL }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Docker login
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{secrets.DOCKER_USER}}/${{ secrets.DOCKER_REPO }}:web-latest
          build-args: |
            VITE_API_URL=${{ secrets.API_URL }}
      - name: SSH into server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          passphrase: ${{ secrets.SERVER_SSH_PASSPHRASE }}
          script: |
            cd /${{ secrets.SERVER_USERNAME }}/stacy-mills-web
            docker stop $(docker ps -a -q)
            docker login -u ${{secrets.DOCKER_USER}} -p ${{ secrets.DOCKER_PASSWORD }}
            docker pull ${{secrets.DOCKER_USER}}/${{secrets.DOCKER_REPO}}:web-latest
            docker run -dit -p 80:80 ${{secrets.DOCKER_USER}}/${{secrets.DOCKER_REPO}}:web-latest